* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: #f7f7f7; 
}

.timeInputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox {
    width: 80px; 
    margin: 0 8px; 
    text-align: center; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px; 
    font-size: 1.5rem; 
    color: #333; 
}

.timeInputs span {
    font-size: 1.5rem; 
    color: #333;
}

#timer {
    font-size: 3rem; 
    font-weight: bold; 
    margin-top: 20px;
}

button {
    padding: 10px 20px; 
    border: none; 
    background-color: #333; 
    color: white; 
    font-size: 1.5rem; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #555;
}
